@import url('/static/css/bulma.css');

body{
background-color: #121212;
}

.glitch-container {
    position: relative;
    padding: 2rem;
    background: #222;
    border: 2px solid #232b33;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(35, 43,51, 1);
}
.glitch-input {
    background: #333;
    color: #ccc;
    border: 2px solid #232b33;
}
.glitch-text {
    color: #aeb3b8;
    font-size: 1rem;
    position: relative;
}
.box {
    background-color: #333 !important;
    color: #ccc !important;
}
.chat-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;  /* Enables scrolling */
    padding: 0 10px;
    padding-bottom: 80px;
    gap: 10px;
    background-color: #fafafa;
    border: 5px solid  #232b33;
    border-radius: 10px;
    margin: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
    justify-content: flex-start;
    position: relative;
}
.input-form{
    display: flex;
    align-items: center;
    width: 96%;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: white;
    padding: 5px;
    position: fixed;
    bottom: 75px;
    box-sizing: border-box;
}
#question {
    flex-grow: 1;
    border: none;
   padding: 15px;
    font-size: 16px;
    border-radius: 25px;
    outline: none;
}
.btn {
    background-color: #636363;
    color: #ffd700;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btn:hover {
    background-color: #232b33;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Slightly larger shadow */
}
.btn:active {
    background-color: #6d7984; /* Even darker on click */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(1px); /* Slight press effect */
}
.submit-btn {
    background-color: #636363;
    color: #ffd700;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
/* Chat bubble styling */
.chat-bubble {
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
    max-width: 70%;
    display: inline-block;
    line-height: 1.4;
}

/* User bubble (align right) */
.user-bubble {
    background-color: #6d7984;
    color: white;
    align-self: flex-end;
    text-align: right;
    border-bottom-right-radius: 5px;
}

/* Bot bubble (align left) */
.bot-bubble {
    background-color: #636363;
    color: white;
    align-self: flex-start;
}

.profile-container {
    position: absolute;
    top: 10px;
    right: 10px;
}
.logout-button {
    background-color: #FF6347; /* Tomato color */
    color: white;
    font-size: 14px;
    padding: 5px 15px; /* Reduced padding to make it smaller */
    border: none;
    border-radius: 20px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    width: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logout-button:hover {
    background-color: #FF4500;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Slightly larger shadow */
}
.logout-button:active {
    background-color:  #FF5733; /* Even darker on click */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(1px); /* Slight press effect */
}
.custom-footer {
    background-color: #222;
    color: #f0f3f5;
    font-size: 15px;
    padding: 10px 0;  /* Vertical padding */
    text-align: center;
}