@import url('/static/css/bulma.css');

body{
background-color: #232b33;
}
h2{
    font-family: 'Roboto', sans-serif;
}
.glitch-container {
    position: relative;
    padding: 2rem;
    background: #222;
    border: 2px solid #232b33;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(35, 43,51, 1);
}
.glitch-input {
    background: #333;
    color: #ccc;
    border: 2px solid #232b33;
}
.glitch-text {
    color: #aeb3b8;
    font-size: 1rem;
    position: relative;
}
.box {
    background-color: #333 !important;
    color: #ccc !important;
}
.chat-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;  /* Enables scrolling */
    padding: 0 10px;
    padding-bottom: 100px;
    gap: 10px;
    background-color: #fafafa;
    border: 5px solid  #232b33;
    border-radius: 10px;
    margin: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
    justify-content: flex-start;
    position: relative;
}
.input-form{
    display: flex;
    align-items: center;
    width: 75%;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: white;
    padding: 5px;
    position: fixed;
    bottom: 75px;
    left: 13%;
    box-sizing: border-box;
}
#question {
    flex-grow: 1;
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 25px;
    outline: none;
}
.button:hover{
    background-color: #232b33;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
.button:active {
    background-color: #6d7984; /* Even darker on click */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(1px); /* Slight press effect */
}
/* Chat bubble */
.chat-bubble {
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
    max-width: 70%;
    display: inline-block;
    line-height: 1.4;
}

/* User bubble */
.user-bubble {
    font-family: 'Open Sans', sans-serif;
    background-color: #6d7984;
    color: white;
    align-self: flex-end; /* aligned to the right */
}

/* Bot bubble */
.bot-bubble {
    font-family: 'Open Sans', sans-serif;
    background-color: #636363;
    color: white;
    align-self: flex-start; /* aligned to the left */
}

.profile-container {
    position: absolute;
    top: 100px;
    right: 10px;
}
.clear-button:hover {
    background-color: #ff4500;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Slightly larger shadow */
}
.clear-button:active {
    background-color:  #ff5733; /* darker on click */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(1px); /* press effect */
}
.custom-footer {
    background-color: #222;
    color: #f0f3f5;
    font-size: 15px;
    padding: 10px 0;  /* vertical padding */
    text-align: center;
}
.content-section {
    display: none; /* Initially hide all sections */
}
.content-section:target {
    display: block; /* Display targeted section */
}
