<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
 <div class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-centered">
                    <div class="column is-half">
                        <!-- Login Form inside a box for styling -->
                        <div class="box glitch-container">
        <h2 class="title is-3 glitch-text">Reset Password</h2>

          {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    <div class="notification is-success">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
     <form method="POST">
            {% csrf_token %}
            <div class="field">
                <label  class="label" for="new_password1" style="color: #d3d3d3;">Enter New Password</label>
                  <div class="control">
                <input  class="input glitch-input" type="password" id="new_password1" name="new_password1" required>
                  </div>
                  </div>
            <div class="field">
                <label  class="label" for="new_password2" style="color: #d3d3d3;">Re-Enter Password</label>
                <div class="control">
                <input  class="input glitch-input" type="password" id="new_password2" name="new_password2" required>
                </div>
                </div>
          <button type="submit" class="btn">Reset Password</button>
     </form>
 </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>