<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

     {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.0">
</head>
<body>


<div class="hero is-fullheight has-background-dark">


<div class="profile-container">
    <button class="logout-button" onclick="window.location.href='{% url 'login' %}'">
        Logout
    </button>
</div>
<div class="is-flex is-justify-content-center is-align-items-flex-start">
    <form id="clear-form" method="POST">
        {% csrf_token %}
        <button type="submit" class="button is-danger">Clear Chat</button>
    </form>
</div>
   <div id="chat-box" class="box chat-container"  style="height: 50vh; overflow-y: auto;" >
       {% for chat in chat_history %}
           {% if chat.sender == 'user' %}
               <div class="chat-bubble user-bubble">{{ chat.message }}</div>
           {% elif chat.sender == 'bot' %}
               <div class="chat-bubble bot-bubble">{{ chat.message|safe }}</div>
           {% endif %}
       {% endfor %}

     <form method="POST" id="chat-form" class="input-form">
  {% csrf_token %}
      <input type="text" id="question" name="user_input" placeholder="Type your message......" required  oninput="toggleSubmitButton()">
        <button type="submit" id="submit-btn" class="submit-btn">→</button>
      </form>
    </div>

</div>
<script>  const clearChatUrl = "{% url 'clear_chat' %}"; </script>
 <script src="{% static 'javascript/homepage.js' %}" defer></script>
</body>
</html>