<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

     {% load static %}
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.0">
</head>
<body class="hero is-fullheight has-background-dark"  style="background-image: url('{% static 'images/img.jpg' %}'); background-size: cover; background-position: center center;">

<div class="profile-container">
    <button class="logout-button"  onclick="if (confirm('Are you sure you want to Logout?')) { window.location.href = '{% url 'login' %}'; }">
        Logout
    </button>
</div>
<div class="is-flex is-justify-content-center is-align-items-flex-start">
    <form id="clear-form" method="POST">
        {% csrf_token %}
        <button type="submit" class="button is-danger">Clear Chat</button>
    </form>
</div>
   <div id="chat-box" class="box chat-container"  style="height: 50vh; overflow-y: auto;" >

       {% for chat in chat_history %}
           {% if chat.sender == 'user' %}
               <div class="chat-bubble user-bubble">{{ chat.message }}</div>
           {% elif chat.sender == 'bot' %}
               <div class="chat-bubble bot-bubble">{{ chat.message|safe }}</div>
           {% endif %}
       {% endfor %}

     <form method="POST" id="chat-form" class="input-form" enctype="multipart/form-data">
  {% csrf_token %}
         <div class="control">
             <label  for="file-upload" class="button is-info is-outlined is-small" style="background-color: #6d7984; border: 1px solid #232b33; color: #f0f3f5">
                <span class="icon is-small"><i class="fas fa-plus"></i></span>
             </label>
             <input type="file" id="file-upload" name="uploaded_file" accept=".pdf" style="display: none;" onchange="alert('File Uploaded Successfully');">
             </div>
      <input type="text" id="question" name="user_input" placeholder="Ask any questions regarding your CV or cover letter..." required  oninput="toggleSubmitButton()">
        <button type="submit" id="submit-btn" class="submit-btn">→</button>
      </form>
    </div>


<script>  const clearChatUrl = "{% url 'clear_chat' %}";
</script>
 <script src="{% static 'javascript/homepage.js' %}" defer></script>

<footer class="footer custom-footer">
  <div class="content has-text-centered">
     <p>&copy; 2024 Django Project. All rights reserved.</p>
  </div>
</footer>
</body>
</html>