<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Instructions</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="hero is-fullheight">
  <div class="hero-body is-align-items-flex-start">
    <div class="container has-text-centered">
  <div class="box glitch-container">
       <h2 class="title is-3 glitch-text">Password Reset Request Sent</h2>
<p>An email with instructions to reset your password has been sent to your registered email address. Please check your inbox and follow the provided steps to securely reset your password.</p>
<p>If you do not receive the email within a few minutes, please check your spam or junk folder.</p>
 </div>
  </div>
</div>
</div>
</body>
</html>