<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Complete</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="hero is-fullheight">
  <div class="hero-body is-align-items-flex-start">
    <div class="container has-text-centered">
  <div class="box glitch-container">
       <h2 class="title is-3 glitch-text">Password Reset Successful</h2>
       <p>Your password has been reset. You can now <a href="{% url 'login' %}">log in</a> with your new password.</p>
       </div>
  </div>
</div>
</div>
</body>
</html>
