<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Reset Password{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="hero is-fullheight"  style="background-image: url('{% static 'images/img.jpg' %}'); background-size: cover; background-position: center center;">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-centered">
                    <div class="column is-half">
                        <!-- Login Form inside a box for styling -->
                        <div class="box glitch-container">
                            <h2 class="title is-3 glitch-text">Reset Password</h2>


          {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    <div class="notification is-success">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="field">
               <label class="label" for="email" style="color: #d3d3d3;">Enter Email Address</label>
                <div class="control">
                <input class="input glitch-input" type="email" id="email" name="email" required>
                </div>
            </div>
             <button type="submit" class="button is-info is-light">Send Reset Link</button>
            </form>
</div>
                    </div>
                </div>
            </div>
        </div>

<footer class="footer custom-footer">
  <div class="content has-text-centered">
     <p>&copy; 2024 SA. All rights reserved.</p>
      <p>Designed and developed by Sreehari Anukumar.</p>
      <p> <a href="https://github.com/Sreehari05055/finalProject.git" target="_blank">View Source on GitHub</a>
      </p>
  </div>
</footer>
</body>
</html>
